<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
   <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
<!--  过滤字符集 -->
<filter>   
        <filter-name>EncodingFilter</filter-name>   
        <filter-class>com.cssrain.base.SysFilter</filter-class>   
        <init-param>   
            <param-name>encoding</param-name>   
            <param-value>UTF-8</param-value>   
        </init-param>   
        <init-param>   
            <param-name>enable</param-name>   
            <param-value>true</param-value>   
        </init-param>   
    </filter>   
    <filter-mapping>   
        <filter-name>EncodingFilter</filter-name>   
        <url-pattern>/*</url-pattern>   
    </filter-mapping>

</web-app>
